.popup__input {
    display: flex;
    width: 358px;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto 30px;
    padding: 0 0 13px 0;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

.popup__input:invalid {
    border-bottom: 1px solid red;
}


@media screen and (max-width: 530px) {
    .popup__input {
        max-width: 238px;
    }
}